<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>GetPrice</title>
</head>
<body class="container">

    <header class="header">
        <h1>Fair Fuel Price</h1>

        <nav class="navigation">
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/upload">Upload Invoice</a></li>
                <!-- <li><a href="#">View</a></li> -->
                <li><a href="/compare">Compare Pricing</a></li>
                <li><a href="/getprice">Rack Prices</a></li>
                <li><a href="/create_invoice">Create Invoice</a></li>
                <li><a href="/manage_client">Manage Client</a></li>
                <li class="hamburger-menu">&#9776;</li>
            </ul>
        </nav>
    </header>
    
    <div class="content">
        <h1 class="updateh1">Please select the Rack Price Provider</h1>

        <div class="price-options">
            <a href="/petrocan_data">
                <img src="../static/petrocan_logo.jpg" alt="Petro-Can Logo" width="150" height="130">
            </a>

            <a href="/shell_data">
                <img src="../static/shell_logo.png" alt="Shell Logo" width="150" height="150">
            </a>

        </div>
    </div>

</body>
</html>
