

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>TempView</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body class="container">

    <header class="header">
        <h1>Fair Fuel Price</h1>

        <nav class="navigation">
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/upload">Upload Invoice</a></li>
                <!-- <li><a href="#">View</a></li> -->
                <li><a href="/compare">Compare Pricing</a></li>
                <li><a href="/getprice">Rack Prices</a></li>
                <li><a href="/create_invoice">Create Invoice</a></li>
                <li><a href="/manage_client">Manage Client</a></li>

                <li><a href="/view_suppliers_invoices">Temp_View</a></li>
                <li class="hamburger-menu">&#9776;</li>
            </ul>
        </nav>
    </header>
    
    <div class="content">
        <h1 class="updateh1">Tables in the InvoiceDB Database</h1>
        {% for collection_name, documents in collection_data.items() %}
            <h2>{{ collection_name }}</h2>
            <table>
                <tr>
                    {% for key in documents[0] %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
                {% for document in documents %}
                    <tr>
                        {% for value in document.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>

</body>
</html>
